[submodule "klipper-macros"]
	path = config/klipper-macros
	url = git@github.com:jschuh/klipper-macros.git

[submodule "minecraft-theme"]
	path = config/.theme
	url = git@github.com:lixxbox/mainsail-theme-minesail.git

[submodule "prind"]
	path = prind
	url = git@github.com:mkuf/prind.git
	branch = main