# Ignore everything
/*

# Except these
!/.gitignore
!/config/
!/database/
!/backup/

# Ignore all .env files anywhere in the tree
**/.env

# Ignore all log files
**/*.log

# Python virtual environments
**/venv/
**/.venv/
