[gcode_macro DRY_RUN_TEST]
gcode:
    {% if params.DRY_RUN|default(0)|int %} DRY_RUN_WRAP_START {% endif %}
    G28
    #QUAD_GANTRY_LEVEL
    {% if params.DRY_RUN|default(0)|int %} DRY_RUN_WRAP_END {% endif %}